/* color variables */
:root {
  --mainBlue: #3D52AD;
  --midBlue: #7091E6;
  --paleBlue: #8697C4;
  --lightBlue: #ADBBDA;
  --white: #EDEBF5;


}/* .roboto-regular */ 
* { 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--mainBlue);
  }

.rubik-bubbles-regular {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .freehand-regular {
    font-family: "Freehand", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .danfo {
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ELSH" 0;
  }





body {
    /* font-family: Arial, sans-serif; */
    background-color: var(--white);
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
    margin-top: 70px;
}

.container {
    text-align: center;
    background: var(--paleBlue);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-fluid {
  background-color: var(--paleBlue);
}

.search-box, .translate-box {
    margin-bottom: 20px;
}

input, select {
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--white);
    border-radius: 4px;
    width: 200px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: var(--mainBlue);
    color: var(--white);
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--midBlue);
}

a {
  border-radius: 20px;
  padding: 5px;
}

a:hover {
  background-color: var(--paleBlue);
  border-radius: 20px;
  padding: 5px;
  
}

.navbar {
  margin-bottom: 100px;
  background-color: var(--paleBlue);
  color: var(--mainBlue);
}

.lyrics-box {
    text-align: left;
    background: var(--white);
    padding: 20px;
    border: 1px solid var(--white);
    border-radius: 4px;
    max-width: 600px;
    margin: 0 auto;
    white-space: pre-wrap;
    max-height: 400px;
    overflow-y: auto;
}
.task-card {
  background: var(--paleBlue);
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--white);
  border-radius: 4px;
  cursor: pointer;
}

.task-card h3 {
  margin: 0;
}

#lyrics-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--paleBlue);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  max-height: 400px;
  overflow-y: auto;
  z-index: 1000;
}

.accordion-item:nth-child(3) h2 {
  border-bottom: 1px solid #ddd;
  padding-left: 0px;
  margin-left: 0px;
}

.accordion-item:nth-child(2) h2 {
  padding-right: 0px;
  margin-right: 0px;
} 

.row>* {
  padding-left: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}