/* .roboto-regular */ 
* { 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.rubik-bubbles-regular {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .freehand-regular {
    font-family: "Freehand", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .danfo {
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ELSH" 0;
  }
body {
    /* font-family: Arial, sans-serif; */
    background-color: #f2f2f2;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
    margin-top: 70px;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-box, .translate-box {
    margin-bottom: 20px;
}

input, select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

a {
  border-radius: 20px;
  padding: 5px;
}

a:hover {
  background-color: #c6cdc6;
  border-radius: 20px;
  padding: 5px;
  
}

.navbar {
  margin-bottom: 100px;
}

.lyrics-box {
    text-align: left;
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 600px;
    margin: 0 auto;
    white-space: pre-wrap;
    max-height: 400px;
    overflow-y: auto;
}
